name : terraform infra build

on:
  push:
    branches:
      - master

env:
  AWS_REGION: ap-south-1
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  

jobs:
  build-ami:
     runs-on: ubuntu-latest
     steps:
       - name: repo check
         uses: actions/checkout@v4


       - name: set up packer
         uses: hashicorp/setup-packer@v3


       - name: build ami  
         run: |
           packer init .
           packer validate .
           packer build .    
         working-directory: ./packer     
 
  
  deploying-infra:
    runs-on: ubuntu-latest 
    needs: build-ami
    steps:
      - name: repo check
        uses: actions/checkout@v4
       

      - name: setup terraform  
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.0


      - name: build terraform
        run: |
          terraform init
          terraform validate
          terraform apply --auto-approve
        working-directory: ./terraform/production    
