name : terraform infra build

on:
  push:
    branches:
      - master

env:
  AWS_REGION: ap-south-1
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  

jobs:
  build-ami
     runs-on: ubuntu-latest
     steps:
       - uses: action/checkout@v4

       - name : set up packer
         uses : hashicorp/setup-packer@v3
         run  : |
           cd packer
           packer init .
           packer validate .
           packer build .    
 
  
  deploying-infra
    runs-on: ubuntu-latest 
    needs: build-ami
    steps:
      - uses: action/checkout@v4
       
      - name: building terraform 
      - uses: hashicorp/setup-terraform@v3
        run: |
          cd terraform
          terraform init
          terraform validate
          terraform apply --auto-approve
          
